@mixin button($colour, $text:#111, $height:18px) {

  display: inline-block;
  border-color: mix(lighten($colour, 20%), rgba(0, 0, 0, 0.1), 75%) rgba(0, 0, 0, 0.1) darken($colour, 10%);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: $colour;
  background-image: linear-gradient(to bottom, lighten($colour, 10%), $colour);
  background-repeat: repeat-x;
  padding: (($height - 18px) / 2) + 4px 12px;
  color: $text;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    border-color: mix(lighten($colour, 20%), rgba(0, 0, 0, 0.1), 50%) rgba(0, 0, 0, 0.1) darken($colour, 10%);
    background-position: 0 -15px;
    transition: background-position 0.1s linear 0s,
      border-color 0.1s linear 0s;
  }

  &:active, &:focus {
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) darken($colour, 10%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    background-image: none;
    transition: all 0 ease 0;
  }

}

.btn {
  @include button(#ccc);
}
