$body-background: #FDFBF8;
$body-color: #111;
$link: #E4BF2A;

html {
  background: $body-background;
  color: $body-color;

  a {
    color: $link;

    &:hover {
      color: mix($link, yellow);
      transition: color 0.1s linear 0s;
    }
  }

  p, ul, ol {
    line-height: 130%;
  }

  h1 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  }
}

.page {
  $menu-height: 60px;
  $menu-width: 180px;
  $menu-background: #171819;
  $topbar-background: #574678;
  $menu-border: 2px;
  $menu-color: $body-background;
  $menu-border-color: lighten($menu-background, 30%);
  $topbar-border-color: lighten($topbar-background, 30%);

  margin-left: ($menu-width + 15px);
  margin-top: ($menu-height + 15px);
  margin-right: 15px;
  margin-bottom: 15px;

  .menu {
    border-right: $menu-border solid $menu-border-color;
    background: $menu-background;
    background-image: linear-gradient(to right, $menu-background, lighten($menu-background, 1%));
    background-position: top right;
    background-repeat: repeat-y;
    background-size: 10px 10px;

    position: fixed;
    top: 0;
    left: 0;
    width: $menu-width;
    height: 100%;
    z-index: 2;

    color: $menu-color;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);

    .top {
      height: $menu-height;
      text-shadow: 4px 4px 4px rgba(0,0,0,1);

      padding: 15px;
      font-size: 150%;

      a {
        display: inline-block;
        padding-left: (25px + 5px);
        background: url('../images/cryptfolio.png') 0px 2px no-repeat;
        background-size: 25px 25px;
        color: #eee;
        height: (25px + 2px);
        text-decoration: none;
        font-weight: 600;

        &:hover {
          color: white;
        }
      }
    }

    ul.navigation {
      margin: 0;
      padding: 15px;
      list-style: none;
      text-shadow: 2px 2px 2px rgba(0,0,0,1);

      li {
        margin-bottom: 20px;
        cursor: pointer;

        a {
          display: block;
        }

        b {
          display: block;
          font-size: 120%;
          font-weight: 600;
          margin-bottom: 10px;

          &:hover {
            text-decoration: underline;
            transition: color 0.1s linear 0s;
            color: white;
          }
        }

        ul {
          margin: 0;
          padding: 0;
          list-style: none;
        }

        li {
          // need to use padding rather than margin, so that the
          // links capture clicks in the padding rather than the parent .dropdown
          padding: 0 0 5px 15px;
          margin: 0;

          a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .topbar {
    $topbar-color: darken($topbar-background, 10%);

    border-bottom: $menu-border solid $topbar-border-color;
    background: $topbar-background;
    background-image: linear-gradient(to bottom, $topbar-background, lighten($topbar-background, 3%));
    background-position: bottom left;
    background-repeat: repeat-x;
    background-size: 15px 15px;

    position: fixed;
    top: 0;
    left: 0;
    height: $menu-height;
    padding: 15px 12px;
    width: 100%;
    text-align: right;

    .user {
      @include button(lighten($topbar-background, 30%), $topbar-color, 20px);

      .profile-picture {
        display: inline-block;
        vertical-align: bottom;
        margin-right: 4px;
        height: 16px;
        width: 16px;
        border: 1px solid mix(lighten($topbar-background, 30%), #eee);
        border-radius: 2px;
        background: lighten($topbar-background, 30%);
        margin-bottom: 1px;
      }
    }

    .navigation {
      display: block;
      position: fixed;
      top: ($menu-height - 15px);
      background: lighten($topbar-background, 40%);
      right: 12px;
      min-width: 150px;
      text-align: left;
      list-style: none;
      margin: 0;
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid $topbar-background;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);

      li {
        margin: 5px 0;
      }

      a {
        display: block;
        color: $topbar-color;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

  .content {

    .sample-graph {
      width: 400px;
      height: 300px;
      display: inline-block;
      border: 1px solid black;
      margin: 10px;
    }

  }

}

