.page
  .menu
    .top
      %a.cryptfolio{:href => "#"} CryptFolio

    %ul.navigation
      %li.accounts.dropdown
        %b Accounts
        %ul
          %li
            %a{:href => "#"} Addresses
          %li
            %a{:href => "#"} Mining Pools
          %li
            %a{:href => "#"} Exchanges

      %li.reports.dropdown.open
        %b Reports
        %ul
          %li.current
            %a{:href => "#"} Summary
          %li
            %a{:href => "#"} Historical
          %li
            %a{:href => "#"} My Custom Report
          %li.add
            %a{:href => "#"} Create Report...

      %li.finance.dropdown
        %b Finance
        %ul
          %li
            %a{:href => "#"} Transactions
          %li
            %a{:href => "#"} Summary
          %li
            %a{:href => "#"} Export

      %li.historical.dropdown
        %b Historical
        %ul
          %li
            %a{:href => "#"} Exchanges
          %li
            %a{:href => "#"} Securities

      %li.tools.dropdown
        %b Tools
        %ul
          %li
            %a{:href => "#"} Converter
          %li
            %a{:href => "#"} Android Apps

      %li.help.dropdown
        %b Help
        %ul
          %li
            %a{:href => "#"} Help Centre
          %li
            %a{:href => "#"} Site Status
          %li
            %a{:href => "#"} Suggest a Feature
          %li
            %a{:href => "#"} Contact Us
          %li.twitter
            %a{:href => "https://twitter.com/cryptfolio"} @cryptfolio

  .topbar
    .btn-group
      .user.btn.dropdown.temporary
        %img.profile-picture
        Jevon
        %span.fa.fa-caret-down

      %ul.navigation
        %li.settings
          %a{:href => "#"} Settings
        %li.notifications
          %a{:href => "#"} Notifications
        %li.premium
          %a{:href => "#"} Premium
        %li.logout
          %a{:href => "#"} Log Out

  .content

    .report-page

      %h1 Summary

      .sample-graph
      .sample-graph
      .sample-graph
      .sample-graph
